/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  border: 2px solid green;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
}
.logoContainer {

}
#logo {
  font-family: 'wasted';
  font-size: 4vh;
  padding: 2vw;
}
#mainTop {
  border: 2px solid aqua;
  background-image: url('/img/mainMe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 92vh;
  background-position: 15vw 100%;
  background-color: white;
  box-shadow: inset 500px 0px 80px 8px white ;
  
}

#rightTop {
  border: 2px solid tomato;

}
#headshot{
  width: 30vh;
  object-fit: contain;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@font-face {
  font-family: 'wasted';
  src: url(/fonts/Wasted.otf);
}