/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

#headshot{
  width: 30vh;
  object-fit: contain;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
