/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
header {
  float: left;
  border-bottom: 1px solid gray;
  padding: 3px;
  width: 100%;
}
nav * {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
main {
  float: left;
  height: 500px;
  margin-top: 5%;
}
.drop-search, .logo, .top-list {
  float: left;
  width: 33.3333%;
  height: 50px;
}
.drop-search select, input {
  height: 38px;
}
.drop-search {
  text-align: right;
}
.drop-search input::placeholder {
  color: rgb(49, 99, 234);
  padding-left: 5px;
}
.drop-search select {
  border: none;
  color: rgb(49, 99, 234);
}
.drop-search select option {
  color: color: rgb(49, 99, 234);
}
.logo img {
  width: 45%;
  position: relative;
}
.logo {
  text-align: center;
}
.top-list {
  position: relative;
  left: 25px;
}
.top-list li {
  list-style-type: none;
  position: relative;
  top: 5px;
  padding-left: 5%;
}
.top-list a {
  text-decoration: none;
  color: rgb(49, 99, 234);
}

.picture-kids {
  float: left;
  width: 50%;
  height: 500px;
}
.picture-kids img {
  float: right;
  width: 80%;
}
.slogan {
  float: left;
  width: 50%;
  height: 500px;
  position: relative;
  top: 15%; left: 1%;
}
.slogan h1 {
  float: left;
  width: 50%;
  margin-bottom: 3%;
  font-size: 2em;
}
.slogan p {
  margin-top: 0;
  float: left;
  width: 85%;
  line-height: 35px;
}
.bottom-list {
  float: left;
  width: 100%;
  padding: 0;
  text-align: left;
}
.bottom-list a{
  text-decoration: none;
  border: 1px solid rgb(49, 99, 234);
  border-radius: 5%;
  background: rgb(49, 99, 234);
  padding: 7px;
  color: white;
}
.bottom-list li{
  list-style-type: none;
  display: inline;
  padding-right: 1%;
}
.line-one {
  clear: both;
  width: 32%;
  height: 20px;
  border: 3px solid rgb(104, 202, 163);
  border-color: rgb(104, 202, 163)transparent transparent  transparent;
  border-radius: 50% 20% 0 0;
  position: relative;
  right: 2px;
  transform: rotate(2deg);
}
.line-two {
  margin: 0;
  clear: both;
  width: 32%;
  height: 20px;
  border: 3px solid rgb(104, 202, 163);
  border-color: rgb(104, 202, 163)transparent transparent  transparent;
  border-radius: 30%/0 0 0 0;
  position: relative;
  bottom: 17px;
  transform: rotate(-3deg);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
