/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  height: 100%;
  background-image: url('../assets/background.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  height: 100%;
  border: 1px solid red;
}
#allContent {
  height: 100%;
}
#logo {
  border: 1px solid blue;
  width: 400px;
}
img{
  display: block;
  margin: 0 auto;
  max-width: 900px;
  max-height: 900px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
