/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  height: 100%;
  background-image: url('../assets/background.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  min-height: 100vh;
  border: 1px solid red;
}
#allContent {
  height: 100%;
}
#charList {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}
#logoContainer {
  display: flex;
  justify-content: center;
}
#logo {
  border: 1px solid blue;
  width: 400px;
}
#imgContainer {
  width: 50%;
  height: 200px;
  border: 1px solid purple;
}
.modalAll {
  display: flex;
  justify-content: center;
  border: 2px solid greenyellow;
  position: relative;
  top: 8vh;
  max-height: 100vh;

}
.modalContainer {
  position: fixed;
  left: 45vw;
  border: 2px solid yellow;
  width: 85vh;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.3);;
  border-radius: 20px;
}
.modalImage {
  border: 2px solid orange;
  display: flex;
  height:  60vh;
  object-fit: cover;
  position: relative;
  right: 18vw;
}
#charImg {
  z-index: 1; 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
