/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  height: 100%;
  background-image: url('../assets/background.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  min-height: 100vh;
  /* border: 1px solid red; */
}
#allContent {
  height: 100%;
}
#logoContainer {
  display: flex;
  justify-content: center;
}
.charListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid rebeccapurple; */
  position: relative;
  top: 4vh;
}
.characters {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
  font-family: Goku;
  font-size: 30px;
  
}
#logo {
  /* border: 1px solid blue; */
  width: 400px;
}
.modalAll {
  display: flex;
  justify-content: center;
  /* border: 2px solid greenyellow; */
  position: relative;
  top: 8vh;
  max-height: 100vh;
}
.modalContainer {
  /* border: 2px solid yellow; */
  width: 85vh;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  position: relative;
  left: 1vw;
  display: flex;
}
.modalImage {
  /* border: 2px solid orange; */
  display: flex;
  height:  60vh;
  width: 30vw;
  position: relative;
  left: 6vh;
}
#imgContainer {
  width: 50%;
  height: 200px;
  /* border: 1px solid purple; */
}
#charImg {
  object-fit: contain;
  width: 100%;
  height: auto;
  z-index: 1; 
}
.modal {
  display: flex;
  flex-direction: column;
  /* border: 1px solid magenta; */
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 5vh;
}
h3 {
  color: rgb(208	118	44);
  font-family: Saiyan-Sans, sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 20px 0 10px 0;
}
div {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: .3px;
  font-size: 20px;
  line-height: 1.4;
}
.hide {
  display: none;
}
h1 {
  text-align: center;
  font-family: Saiyan-Sans, sans-serif;
  font-size: 80px;
  margin: 5px 0 0 0;
  letter-spacing: 7px;
}

#shenronContainer {
  text-align: center;
}
#shenron {
  object-fit: contain;
  width: 70vw;
  height: 70vh;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@font-face {
  font-family: Saiyan-Sans;
  src: url('../fonts/Dragonball\ Z/Saiyan-Sans.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Goku;
  src: url('../fonts/Dragonball\ Z/Goku.ttf');
}